<tr class="vertical-middle">
	
	
	<td class="text-nowrap">
		{# Пользовательское меню #}
		{{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
	</td>
	
	<td class="text-center">
		{{ item.sort }}
	</td>
	
	<td class="w-100">
		
		{% if is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN') %}
			{# Название #}
			<a href="{{ path('users-profile-type:admin.newedit.edit', {id: item.event }) }}"
					class="mb-1"
			>{{ item.name }}</a>
		{% else %}
			{{ item.name }}
		{% endif %}
		
		{# Описание #}
		<div class="text-muted small">
			{{ string_width(item.description, 150)|raw }}
		</div>
	
	</td>

</tr>