{% trans_default_domain 'admin.profile.type' %}

<div class="card w-100 border-light">

    <div class="card-header border-light bg-body">
        <div class="card-title">
            <h4>
                {{ 'admin.form.main.label'|trans }}
            </h4>
        </div>
    </div>

    <div class="card-body pb-0">

        {# Сортировка #}
        {{ form_row(form.sort, {  label : 'admin.form.main.sort'|trans }) }}

        <div class="d-flex justify-content-around pb-3 radio-buttons clearfix" data-buttons="true" style='clear: both'>
            <label class="btn p-3 border-dotted rounded-3 w-100 {{ form.info.active.vars.data ? 'active' }}">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                <span class="h5">
                    <div class="form-check d-flex align-items-center">
                        {{ form_widget(form.info.active, { label: false }) }}
                        <span>
	                        {# Продукт активный #}
                            {{ 'Активный профиль'|trans }}
                        </span>
                    </div>
                </span>
                    </div>
                </div>
            </label>
        </div>


        <div class="d-flex justify-content-around pb-3 radio-buttons clearfix" data-buttons="true" style='clear: both'>
            <label class="btn p-3 border-dotted rounded-3 w-100 {{ form.info.public.vars.data ? 'active' }}">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                <span class="h5">
                    <div class="form-check d-flex align-items-center">
                        {{ form_widget(form.info.public, { label: false }) }}
                        <span>
	                        {# Продукт активный #}
                            {{ 'Профиль публичный'|trans }}
                        </span>
                    </div>
                </span>
                    </div>
                </div>
            </label>
        </div>

        <div class="d-flex justify-content-around pb-3 radio-buttons clearfix" data-buttons="true" style='clear: both'>
            <label class="btn p-3 border-dotted rounded-3 w-100 {{ form.info.usr.vars.data ? 'active' }}">
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                <span class="h5">
                    <div class="form-check d-flex align-items-center">
                        {{ form_widget(form.info.usr, { label: false }) }}
                        <span>
	                        {# Продукт активный #}
                            {{ 'Пользовательский'|trans }}
                        </span>
                    </div>
                </span>
                    </div>
                </div>
            </label>
        </div>

    </div>
</div>