{% trans_default_domain('admin.profile.type') %}


<div class="d-flex gap-3 border-light rounded-2 p-3">
	
	<div class="card w-100 border-light">
		
		<div class="card-header border-light bg-body">
			<div class="card-title">
				<h4>
					{{ 'admin.form.section.label'|trans }}
				</h4>
			</div>
		</div>
		
		<div class="card-body pb-0">
			
			<div class="d-flex justify-content-evenly gap-1 align-items-end">
				
				<div class="p-1">
					{{ form_row(form.section.vars.prototype.DeleteSection,
						{
							label: '<span class="svg-icon svg-icon-2 text-nowrap">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                                                <rect opacity="0.5" x="7.05025" y="15.5356" width="12" height="2" rx="1" transform="rotate(-45 7.05025 15.5356)" fill="currentColor"></rect>
                                                <rect x="8.46447" y="7.05029" width="12" height="2" rx="1" transform="rotate(45 8.46447 7.05029)" fill="currentColor"></rect>
                                            </svg>' ~'admin.form.section.btn.delete'|trans~ '</span>',
							attr: { class: 'btn-outline-danger btn-sm del-item-section border-0' }
						}) }}
				</div>
				
				<div class="w-100">
					{# Сортировка секции #}
					{{ form_row(form.section.vars.prototype.sort, {  label : 'admin.form.section.sort'|trans, attr: { value : '1'~form.section.vars.prototype.vars.name~'0' } } ) }}
				
				</div>
			</div>
			
			{# Настройки локали секции #}
			{{ include(_self|replace({ "_section.prototype.twig": "_section.trans.prototype.twig" })) }}
		
		</div>
	</div>
	
	
	<div class="card w-100 border-light">
		
		<div class="card-header border-light bg-body">
			<div class="card-title">
				<h4>
					Поля секции
				</h4>
			</div>
		</div>
		
		
		<div class="card-body pb-0">
			
			
			{# Для новой секции делаем замену __field__ #}
			
			{%- set replace_prorotype -%}
				{{ include(_self|replace({ "_section.prototype.twig": "_field.prototype.twig" })) }}
			{%- endset -%}
			{% set replace_prorotype = replace_prorotype|replace({ '__field__' : 0 }) %}
			
			<div id="field_collection_{{ form.section.vars.prototype.vars.name }}" class="d-flex flex-column gap-3">
				<div class="item-collection-field card card-body border-light">
					{{ replace_prorotype|raw }}
				</div>
			</div>
			
			<button type="button"
					id="field_addCollection_{{ form.section.vars.prototype.vars.name }}"
					data-index="1" {# индекс новых полей в секции #}
					data-section="{{ form.section.vars.prototype.vars.name }}" {# индекс секции #}
					class="btn btn-sm btn-outline-primary border-0 mt-3"
					data-prototype="{{ include(_self|replace({ "_section.prototype.twig": "_field.prototype.twig" })) |e('html_attr') }}"
			>
				<!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
				<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg"
									width="24" height="24" viewBox="0 0 24 24"
									fill="none">
								<rect opacity="0.5" x="11" y="18" width="12"
										height="2" rx="1"
										transform="rotate(-90 11 18)"
										fill="currentColor"></rect>
								<rect x="6" y="11" width="12" height="2"
										rx="1" fill="currentColor"></rect>
							</svg>
						</span>
				Добавить поле
			</button>
		
		</div>
	</div>

</div>


{# <div class="card card-flush p-4 mb-4 item-collection-section" id="item-collection-section-{{ loop.index0 }}">


	<div class="d-flex">
		<div class="d-flex flex-column gap-7 gap-lg-10 w-50 mb-7 me-lg-10">

			<div class="card-header">
				<div class="card-title">
					<h2>
#}{# Секции профиля #}{#
Секции профиля
</h2>
</div>
</div>

<div class="card-body pt-0">
#}{# Секции #}{#
#}{# {% for section in form.section %} #}{#
#}{# {{ include(_self|replace({ "form.section.html.twig": "_section.html.twig" })) }} #}{#
#}{# {% endfor %} #}{#
</div>
</div>

<div class="d-flex flex-column gap-7 gap-lg-10 w-50 mb-7 me-lg-10">
#}{# {% for section in sections %} #}{#
<div class="card-header">
    <div class="card-title">
        <h2>
            Поля секции
        </h2>
    </div>
</div>


<div id="field_collection_{{ loop.index0 }}" class="">
    {% for field in section.field %}
        <div class="card px-2 pt-2 mb-2 item-collection-field" data-index="{{ loop.index0 }}">
#}{# {{ include(_self|replace({ "form.section.html.twig": "_field.html.twig" })) }} #}{#
</div>
{% endfor %}
</div>

<div>
<button type="button"
    id="field_addCollection_{{ loop.index0 }}"
    data-index="{{ section.field.count }}"
    data-section="{{ loop.index0 }}"
    class="btn btn-sm btn-light-primary"
#}{# data-prototype="{{include(_self|replace({ "form.section.html.twig": "prototype.field.html.twig" })) |e('html_attr') }}" #}{#
>
    <!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
    <span class="svg-icon svg-icon-2">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" viewBox="0 0 24 24"
             fill="none">
            <rect opacity="0.5" x="11" y="18" width="12"
                  height="2" rx="1"
                  transform="rotate(-90 11 18)"
                  fill="black"></rect>
            <rect x="6" y="11" width="12" height="2"
                  rx="1" fill="black"></rect>
        </svg>
    </span>
    Добавить поле
</button>
</div>
#}{# {% endfor %} #}{#
</div>
</div>
</div> #}

